In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.DataFrame(columns=['original_text' , 'insert_text', 'result_text', 'sent_id', 'insert_id', 'group_no'])

In [3]:
with open('sst_test_map_syn.txt') as file:
    sent_id = 0
    insert_id = ''
    group_no = 0
    former_text = ''
    for line in tqdm(file):
        if line.startswith('sent_id') or line.startswith('insert') or line == '\n':
            if line.startswith('sent_id'):
                sent_id = line[10:].replace('\n','')
            elif line.startswith('insert'):
                insert_id = line[7:].replace('\n','')
            continue
        else:
            line = line.replace('\n','')
            sentence_list = line.split(' | ')
            original_text = sentence_list[0]
            insert_text = sentence_list[1]
            result_text = sentence_list[2]
            if original_text != former_text:
                group_no += 1
            former_text = original_text
            new_row = {'original_text':original_text, 'insert_text':insert_text, 'result_text':result_text, 'sent_id':sent_id, 'insert_id':insert_id, 'group_no':group_no}

            df.loc[len(df)] = new_row

51500it [01:10, 726.76it/s]

In [4]:
df

,original_text,insert_text,result_text,sent_id,insert_id,group_no
0,mishmash of styles and genres .,Uneasy,Uneasy mishmash of styles and genres .,0,t0,1
1,This film's relationship is the same as what c...,to real tension,This film's relationship to real tension is th...,1,t0,2
2,This film's relationship is the same as what c...,to actual stress,This film's relationship to actual stress is t...,1,t0,2
3,This film's relationship to real tension is th...,in a spraying,This film's relationship to real tension is th...,1,t1,3
4,This film's relationship to real tension is th...,in a sprayer,This film's relationship to real tension is th...,1,t1,3
...,...,...,...,...,...,...
44391,Let your childhood nostalgia slumber unmolested .,ridiculous,Let your ridiculous childhood nostalgia slumbe...,1175,t0,13182
44392,Let your childhood nostalgia slumber unmolested .,goofy,Let your goofy childhood nostalgia slumber unm...,1175,t0,13182
44393,Let your childhood nostalgia slumber unmolested .,pathetic,Let your pathetic childhood nostalgia slumber ...,1175,t0,13182
44394,Let your childhood nostalgia slumber unmolested .,wacky,Let your wacky childhood nostalgia slumber unm...,1175,t0,13182
44395,Let your childhood nostalgia slumber unmolested .,zany,Let your zany childhood nostalgia slumber unmo...,1175,t0,13182

In [5]:
df.to_csv('sst_test_map_syn.csv')